{% extends "layout.html" %}

{% block style %}
  <link rel="stylesheet" href="/css/editor.css" type="text/css">
{% endblock %}

{% block script %}
<script type="text/javascript" src="/js/textarea_tab_indent.js"></script>
<script type="text/javascript" src="/js/textarea_auto_indent.js"></script>
<script type="text/javascript" src="/js/textarea_line_number.js"></script>
{% endblock %}

{% block title %}Post - New{% endblock %}

{% block content %}
{% include 'partials/_new_post_form.html' %}
{% endblock %}
